html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    background-image: url("/static/images/Picture1.png");
}
.header{
    background-color: darkgray;
    text-align: center;
}
.footer{
    background-color: darkgray;
    text-align: center;
}
.description{
    background-color: lightgray;
    margin: 7px;
    padding: 7px;
}
.input{
    background-color: lightgray;
    margin: 7px;
    padding: 7px;
}
table {
    border: solid 1px;
    border-radius: 8px;
    border-color: black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
.button {
    margin: 15px;
}
legend {
    padding: 5px 10px;
  }
