{% extends "base.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th class="header" colspan="2" >Sie benötigen ein Beratungsgespraech?</th>
                </tr>
                <tr>
                    <th class="description">{{ form.question.label() }}</th>
                    <td class="input">{{ form.question }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="button"><center>{{ form.submit }}</center></td>
                </tr>
        </form>
            </table>
    </div>
{% endblock %}